.iframe {
    width: 100%;
    height: 400px;
}
.code {
    padding-left: 10%;
    padding-right: 10%;

    
}
code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}